.navbar-brand
{
    margin-top:-5px;
}
header .navbar small
{
    margin:0 0 0 1em;
    font-size:75%;
}
img.img-thumbnail
{
    border-radius:100%;
    padding:2px;
    border:none;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    margin:0 10px 0 0;
    vertical-align:middle;
    display:inline-block;
    line-height:1;
}

.container
{
    min-height:800px;
}

.page-header small
{
    margin:0 10px;
}

h2
{
    font-size:18px;
}
h2 > span
{
    margin:0 0.6em 0 0;
}

figure img
{
    width:100%;
    height:auto;
    border-radius:6px;
    padding:2px;
    background-color:#fff;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}
figcaption
{
    text-align:center;
    font-size:24px;
    padding:20px 0 0;
    line-height:1.2;
}
figcaption small
{
    font-size:16px;
}

table.table th,table.table td
{
    padding:15px 0 !important;
}
table.table th.first,table.table td.first
{
    border-top:none !important;
}
table.table small
{
    margin:0 0 0 1em;
}

.copyright
{
    font-size:75%;
    padding:20px;
    text-align:center;
    background-color:#f8f8f8;
}