.navbar-brand
{
    margin-top:-5px;
}
header .navbar small
{
    margin:0 0 0 1em;
    font-size:75%;
}
img.img-thumbnail
{
    border-radius:100%;
    padding:2px;
    border:none;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    margin:0 10px 0 0;
    vertical-align:middle;
    display:inline-block;
    line-height:1;
}

.copyright
{
    font-size:75%;
    padding:20px;
    text-align:center;
}